/build
/bin
/uci
/unittest
/perft
/bookgen
/game_cat
/selfplay
/tbvalidate
/matetest
/games
.*_time
analysis/__pycache__
analysis/.ipynb_checkpoints/
analysis/*.ipynb
analysis/*.db
.vscode/
cutechess-cli
rengar_venv/
/selfplay_data/*.rg
/selfplay_data/*.rg.csv
/selfplay_data/*.parquet
/chess324_openings
/classical_eval.csv
/networks/*
/chess324_openings
.EIGEN_INSTALLED
.DOCTEST_INSTALLED
.unittest_tmp
/syzygy5
/syzygy_test/K[A-Z][A-Z]*vK*.csv
/syzygy_test/K[A-Z]*vK[A-Z]*.csv
