/build
/bin
/uci
/unittest
/perft
/bookgen
/game_cat
/selfplay
/matetest
/games
.*_time
analysis/__pycache__
analysis/.ipynb_checkpoints/
analysis/*.ipynb
.vscode/
cutechess-cli
rengar_venv/
*.rg
/chess324_openings
.EIGEN_INSTALLED
.DOCTEST_INSTALLED
